/* --- RESET --- */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgb(144, 212, 138);
    --white-color: #FFF;
}

body{
    margin: 0;
	  height: 80%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: normal;
    background-color: #34495E;
}


.margin-main{
  margin-top: 100px
}

.container{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;

}

a:hover{
    color: var(--red-color);
}

h1{
    font-size: 70px;
    margin-bottom: 20px;
    color: whitesmoke;
}

h2{
    font-size: 30px;
    display: inline;
    text-transform: uppercase;
    letter-spacing: 6px;

    font-family: 'Calligraffitti', cursive;
    text-align: center;
    color: whitesmoke;
}


h3 {
    color: var(--red-color);
    font-size: 26px;
}

h4{
    font-size: 22px;
}

#slogan{
  font-family: fantasy;
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 20px;
  font-style: italic;
  font-weight: lighter;
}

#signup-home{
  display: inline-block;
    padding: 20px;
    line-height: 1.5;   
}


input {
    /*  !!!!!!!!!!!!!!!!!!!!!!!!!BUTTONS !!!!!!!!!!!!!!!!!!!! */
    height: 40px;
    border: none;
    border-bottom: solid 2px var(--red-color);
    text-align: center;
}

input:focus{
    border-bottom: solid 2px var(--text-color);
    outline-color: #cde661;
}

button, .button{
    height: 40px;
    box-shadow: 3px 3px 0px var(--red-color);
    
}

button:hover, .button.hover{
    background-color:#4e4e4e;
}

button:disabled, .button:disabled{
    background-color: #768cab;
}




/* ////////LOGO TOTORO//////// */

#logo-totoro {
  width: 100px;
  height: 10px;
  min-width: 6%;
  min-height: auto;
}

.logo-totoro {
		width: 2%;
		height: auto;
    min-width: 6%;
    min-height:auto;
    }

/*//////////////TITLE/////////////*/
#title{
	font-family: 'Calligraffitti', cursive;
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: center;
  color: whitesmoke;
}

header{
    background-color: #34495E;
    height: auto;
}


/* /////////////////////////////////////////////// */
  
  .login_love{
    padding: 20px;
    max-width: 300px;
  }


/* SIGNUP PAGE & LOGIN PAGE (MODELO) */

.signup, .login{
    text-align: center;
}

.form-wrapper{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-wrapper > form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

/* .errors-container{
   /*  width: 100%;
    max-width: 800px; 
} */


.errors-container p{
    padding: 20px;
    margin: 10px 0;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #feb1b1;
}

.errors-container p.correct-message {  
    box-shadow: 0 0 10px #a3e459;
}



/*/////////FAQS PAGE/////////////// */


.header-faqs{
  background: url(../images/Quagsire2_original_original.jpg) no-repeat center top /cover;
  height:6vh;
}

.header-faqs h1{
  font-size:35px;
}




/* //////////FAQ//////////////*/
.faqs{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.faq-heading{
  width: 100%;
  padding: 15px;
  margin-top:20px;
  background-color: var(--red-color);
  color: #fff;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-heading > h4 {
  width: 85%; /*para que no corte a la flecha*/
}

.faq-heading > .faq-arrow{
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  transform: rotate(45deg);
  transition: all ease 0.6s;   
}

.faq-heading > .faq-arrow::before{
  content: '';
  width: 100%;
  height: 100%;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #fff;
  transition: .2s ease;
  display: block;
  transform-origin: 100% 0;
}

.faqs > .faq > .faq-main{
  border: 1px solid #e2e2e2;
}


/*///////////faqs dropdown/////////// */


.faqs > .faq > .faq-main{ 
  padding: 0 20px;
  height: 0;
  opacity: 0;
  transition: all ease 0.8s;
  overflow: hidden; 
}

.faqs > .toggle-faq-on > .faq-main{
  padding: 20px;
  height: auto;
  opacity:6;
  transition: all ease 0.8s;
}

.faqs > .toggle-faq > .faq-main > .faq-text{
  height: 0;
}

.faqs > .toggle-faq-on > .faq-main > .faq-text{
  height: auto;
  color: white;
  font-weight: lighter;
}

.faqs > .toggle-faq-on > .faq-heading > .faq-arrow {
  transform: rotate(225deg);
  transition: all ease 0.6s;
}


/*NAVBAR*/

#logoTotoro {
  max-width: 90px; 
  height: auto;
  min-width: auto;
  min-height:auto;
}

.Navbar {
  /* background-color: rgba(131, 129, 163, 0.377);  */
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-family: sans-serif;
  color: white;
  margin: 0, 16px;

}


.Navbar_Link {
  padding: 1%;
  display: flex;
  align-items: center;
  height: max-content;
}
.Navbar ul {
  list-style-type: none;
}

.Navbar_Items {
  display: flex;
  margin-left: 16px;
  list-style-type: none;
}

.Navbar_Items-right {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 3em;
}

.Navbar_Items-right ul {
  display: flex;
  justify-content: flex-end;
}

/* ///////VERTICAL BAR MENU/////// */

.Navbar_Items-right  li {
border-right: 1px solid #ffffff;
}
.Navbar_Items-right  li:last-child {
border-right: none
}



.Navbar-small {
  display: none;
}

 .Navbar_Link a {
  text-decoration: none;
  /*display: block;*/
  padding: 10px;
}

.Navbar_Link a, a:visited {
     color: rgb(253, 253, 253);
}

.Navbar_Link a:hover {
  
  color: rgb(146, 169, 204);
}
.Navbar_Link a:active {
  /*display: block;*/
  padding: 10px;
  color: rgb(0, 9, 128);
}

/* //////////////////////////////// */

main {
  margin-top: 43px;
}


/* /////////FOOTER//////////////// */

#main{ 
  max-width: 1280px; 
  min-height: 100%; 
  margin: 0 auto;
  position: relative;
  padding: 30px;
  }
    
  footer{
  bottom:0;
  width:100%;
  padding-top:50px;
  height:50px;
  }

.card{
  min-width: 30%;
  margin: 3% auto;
}

.card:hover{
  transition: 1s ease-in-out;
  transform: scale(1.05);
}

.submit-btn{
  width: 100%;
  background-color: #768cab;
}



/* Switch to hamburger menu on tablets */

/* @media only screen and ( max-width:1024px) {
	#et_mobile_nav_menu {
		display: block;
	}
	#top-menu-nav {
		display: none;
	}
	.et_header_style_left .mobile_menu_bar {
		padding-bottom: 50px;
	}
}
 */

 @media only screen and (max-width: 480px) {
  #logoTotoro {
    width: 50px;
    height: auto;
    min-width: auto;
    min-height:auto;
  }

  .Navbar {
    margin-bottom: 5px;
    background-color: rgba(153, 156, 190, 0.233);
  }

  .Navbar_Items,
  .Navbar {
    flex-direction: column;
  }
    
.Navbar_Items {
    display: none;
    cursor: pointer;
  }
    
.Navbar_Items-right {
    margin-top: 2vh;
    justify-content: flex-end;
    margin-right: 0.1em;
  }
    
.Navbar_ToggleShow {
    display: flex;
    align-self: flex-end;

  }
    
.Navbar-small {
    align-self: flex-end;
    align-items: flex-start;
    display: initial;
    position: absolute;
    cursor: pointer;
    margin-bottom: 10px;
   }

.Navbar_Link a {
  padding: 5px;
  align-self: flex-end;
}

.Navbar-small span {
  background: black;
  width: 1.5em;
  height: 3px;
  display: block;
  margin-bottom: 3px;
  align-self: flex-end;
} 
.Navbar_Items-right  li {
  border-right: none;
  }

.Navbar_Items-right  li:last-child {
border-right: none
}
 }

 label{
   color: white;
 }

 .card-text{
   text-align: justify;
 }


