
body {
	margin: 0;
	background-color: #C0C0C0;
	height: 80%;
}

/*navbar*/
#logoTotoro {
		width: 4%;
		height: auto;
        min-width: 4%;
        min-height:auto;
    }

.navbar {
	display: flex;
	justify-content: space-between;
	background: #C0C0C0;
	padding: 1% 1%;
}

.links {
	display: flex;
	justify-content: flex-end;
	color: white;
	padding: 1% 10%;
	list-style: none;
		
}
 .links li {
 	margin-left: 2em;
}

 .links li a {
 	text-decoration: none;
}

.links li a, a:visited {
     color: white;
}
.links li a:hover {
	color: purple;
}
.links li a:active {
	color: purple;
}

/*title*/

#title{
    font-family: 'Open Sans', sans-serif;
	font-family: 'Calligraffitti', cursive;
	margin: 0%;
	margin-bottom: 20px;
	text-align: center;

}

header{
    background-color: #C0C0C0;
    height: 150px;
}



