
body {
	margin: 0;
	background-color: #34495E;
	height: 80%;
}

/*navbar*/
#logoTotoro {
		width: 6%;
		height: auto;
        min-width: 6%;
        min-height:auto;
    }

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 1% 1%;
}

.links {
	display: flex;
	justify-content: flex-end;
	color: white;
	padding: 1% 10%;
	list-style: none;
}
 .links li {
 	margin-left: 2em;
}

 .links li a {
 	text-decoration: none;
}

.links li a, a:visited {
     color: white;
}
.links li a:hover {
	color: purple;
}
.links li a:active {
	color: purple;
}

/*title*/

#title{
    font-family: 'Open Sans', sans-serif;
	font-family: 'Calligraffitti', cursive;
	margin-bottom: 30px;
	text-align: center;
}

header{
    background-color: #34495E;
	height: 150px;
}

/* SIGNUP PAGE */











/* SIGNUP PAGE & LOGIN PAGE */

.signup, .login{
    margin-top: 85px;
    text-align: center;
}

.form-wrapper{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-wrapper > form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.errors-container{
    width: 100%;
    max-width: 800px;
}


.errors-container p{
    background-color: var(--red-color);
    padding: 20px;
    margin: 10px 0;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #feb1b1;
}

.errors-container p.correct-message {
    background-color: rgb(47, 164, 93);
    box-shadow: 0 0 10px #dbf1c1;
}


